# macOS
.DS_Store
.AppleDouble
.LSOverride

# Editeurs
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log

# Node (si on ajoute un outil de build plus tard)
node_modules/
npm-debug.log*

# Vercel
.vercel/

# Env
.env
.env.local
